body {
  font-family: arial;
}
.menu {
  float: right;
}
.jumbotron p {
  font-size: 15px;
}
.container .jumbotron {
  border-radius: 0px;
  margin: 50px;
  border: 1px solid lightgray;
  padding-bottom: 100px;
  padding-top: 0px;
  background-color: #F9F9F9
}
.title {
  text-align: center;
  float: left;
  line-height: 5px;
}
h3 {
  padding-bottom: 3px;
}
.bullets {
  text-align: right;
}
.panel-success {
  background-color: #F5FEF9;
}
.panel-success > .panel-heading {
  background-color: #CDF2E0;
  color: black;
}
img {
  margin: 10px 10px 0px 10px;
}
.space {
  float: left;
}
.person {
  float: right;
}
figcaption {
  text-align: center;
  font-size: 13px;
  padding: 0px;
}
